.photo {
  width: 100%;
  margin-top: 40px;
  max-width: 600px;
  display: block;
}

.account {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.photoWrapper {
  position: relative;
}

.deleteIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  opacity: 0;
  animation: ani 2s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
