.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  background: black;
  width: 70%;
  height: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.question {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

.answersWrrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer {
  font-size: 30px;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;

  &:nth-child(2) {
    margin-left: 20px;
  }
}
