.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  grid-template-rows: 1fr 80px;
  grid-gap: 30px;
  width: 100%;
}

.photoWrapper {
  position: relative;
}

.photo {
  width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.buttonMore {
  height: 40px;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: black;
  background: red;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.heart {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20px;
  opacity: .5
}

.heartFavourite {
  opacity: 1;
  transform: scale(1.1);
}
