.button {
  border-radius: 4px;
  padding: 10px 15px;
  color: black;
  background: white;
  border: 0;
  font-weight: bold;
  cursor: pointer;

  @media(min-width: 600px) {
    font-size: 18px;
  }
}

.buttonPulse {
  animation: shadow 1.3s ease infinite;

  @keyframes shadow {
    0% {
      box-shadow: 0 0 0 0 rgba(194, 19, 19, .9);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(194, 19, 19, .3);
    }
  }
}
