html,
body {
  margin: 0;
  height: 100%;
}

.headerContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.layout {
  display: grid;
  height: 100%;
  grid-template-rows: [row1] auto [row2] 1fr [row3] auto [row4];
  grid-template-areas:
    "header"
    "layout"
    "footer";
}

.header {
  background: black;
  padding: 15px;
  grid-area: header;
  grid-row: row1 / row2;
}

.content {
  grid-area: layout;
  grid-row: row2 / row3;
}

.footer {
  background: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  grid-row: row3 / row4;
}

.footerText {
  color: white;
  font-size: 14px;
  font-weight: bold;

  @media(min-width: 600px) {
    font-size: 16px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
